@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;700&family=Open+Sans:wght@400;600&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
<<<<<<< HEAD
	background-color: #fafafa;
=======
	background-color: red;
>>>>>>> 0198bf99fabff2e07ba4d94f46bbe13cfc0b20e0
}